/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------

[COLORS]

- Background & Vela Alt Text (Yellowish-White): #FFFDF9;
- Text & Accents (Dark Gray): #262626;
- Unselected & Alt Accent (Light Gray): #A0A0A0;
- Vela Accent (Dark Blue): #24313D;
- Vela Alt Header 1 (Grayish-Blue): #758598;
- Vela Alt Header 2 (Dark Grayish-Blue): #586B7C;
- Vela Alt Background (Light Gray): #EFEFEF;

[FONTS]

- font-family: 'EB Garamond', serif; (400(i), 700(i))
- font-family: 'Signika Negative', sans-serif; (700)

***

[GENERAL STYLING]

- box-sizing: border-box; Includes padding and border into all elements' width and height
- Asterisk selects all HTML elements
- Set basic rules for fonts across all pages
- "em" Specifies a length relative to the current font-size of the element; more responsive
- Container to set default padding on most elements

-------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

body {
	background-color: #FFFDF9;
	font-family: 'EB Garamond', serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.6;
	color: #262626;
}

h1, h2, h3, h4 {
	font-family: 'Signika Negative', sans-serif;
	line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 1.80em;
  font-weight: 700;
}

h3 {
  font-size: 1.60em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

.container {
	padding: 0 15px;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------

[FADE-IN ANIMATIONS]

-------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ----------------- [WORK PAGE] ------------------ */

#hero h1 {
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease-out;
}

#hero p {
	animation-name: fadeIn;
	animation-duration: 0.8s;
	animation-timing-function: ease-out;
}

#work {
	animation-name: fadeIn;
	animation-duration: 1.4s;
	animation-timing-function: ease-out;
}

/* ----------------- [ABOUT PAGE] ------------------ */

.about-image {
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease-out;
}

.about-bio h1 {
	animation-name: fadeIn;
	animation-duration: 1.0s;
	animation-timing-function: ease-out;
}

.about-bio p {
	animation-name: fadeIn;
	animation-duration: 1.2s;
	animation-timing-function: ease-out;
}

.about-skills {
	animation-name: fadeIn;
	animation-duration: 1.4s;
	animation-timing-function: ease-out;
}

.about-lists {
	animation-name: fadeIn;
	animation-duration: 1.6s;
	animation-timing-function: ease-out;
}

.about-cv {
	animation-name: fadeIn;
	animation-duration: 1.8s;
	animation-timing-function: ease-out;
}

/* ----------------- [ANIMATION] ------------------ */

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(400px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------

[IMAGE STYLING]

- max-width: 100%; Images cannot scale up larger than their original size
- Reduced size of Profile Image on About Page
- Certain images span the entire width of the page

-------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

img {
	max-width: 100%;
	height: auto;
}

.fullimage {
	display: flex;
	justify-content: center;
	width: 100%;
}

.centerimage {
	display: flex;
	justify-content: center;
	max-width: 100%;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------

[LINK STYLING]

- Changed color of in-text links and removed default underline

-------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

a {
  color: #24313D;
  text-decoration: none;
}

a:hover, a:focus {
  color: #758598;
  text-decoration: underline;
}

a:visited, a:active {
  color: #586B7C;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------

[BUTTON STYLING]

-------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.button {
  display: inline-block;
  border:none;
  background-color: #262626;
  color: #FFFDF9;
  font-family: 'Signika Negative', sans-serif;
  font-weight: 700;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 50px;
  transition: 0.4s;
}

.button:hover, active, focus {
	color: #FFFDF9;
	opacity: 0.8;
	text-decoration: none;
	transition: 0.4s;
}

.button:visited {
   color: #FFFDF9;
   text-decoration: none;
}

.about-cv a {
	margin: 20px 0px;
	text-decoration: none;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------

[HERO STYLING]

-------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

#hero {
	display: block;
	width: 80%;
	margin: 250px auto;
}

#hero h1 {
	text-align: left;
	font-size: 80px;
	margin-bottom: 0px;
	margin: 0;
}

#hero p {
	font-family: 'EB Garamond', serif;
	font-size: 22px;
	font-weight: 400;
	line-height: 1.6;
	margin-top: 0px;
}

@media only screen and (min-width: 1024px) {

	#hero {
	display: block;
	width: 60%;
	margin: 250px auto;
	}

	#hero h1 {
	text-align: left;
	font-size: 110px;
	margin-bottom: 0px;
	margin: 0;
	}

	#hero p {
	font-family: 'EB Garamond', serif;
	font-size: 26px;
	font-weight: 400;
	line-height: 1.6;
	margin-top: 0px;
}

}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------

[HEADER & NAVIGATION BAR STYLING]

-------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ----------------- [LOGO STYLING] ------------------ */

.logo {
	width: 15%;
	transition: 0.3s ease-in;
	margin: 30px;
}

.logo:hover {
	opacity: 0.8;
	transition: 0.3s ease-in;
}

@media only screen and (min-width: 768px) {
	.logo {
		width: 9%;
	}
}

@media only screen and (min-width: 1024px) {
	.logo {
		width: 5%;
	}
}

/* ----------------- [GENERAL NAV STYLING] ------------------ */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 8vh;

	font-family: 'Signika Negative', sans-serif;
  	font-weight: 700;
  	font-size: 16px;
}

nav.vela {
	background-color: #24313D;
}

/* ----------------- [NAV LINKS STYLING] ------------------ */

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 25%;
}

@media screen and (max-width:1440px){
	.nav-links {
	width: 35%;
	}
}

@media screen and (max-width:1024px){
	.nav-links {
	width: 45%;
	}
}

.nav-links li {
	list-style: none;
}

.nav-links a {
	color: #A0A0A0;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.2s ease-in;
}

.nav-links.vela {
	background-color: #24313D;
}

.nav-links.vela a {
	color: #758598;
}

.nav-links a:hover, a:focus, a:active {
	color: #262626;
	transition: 0.2s ease-in;
}

.nav-links.vela a:hover, a:focus, a:active {
	color: #89E3FF;
}

a.active {
	color: #262626;
}

ul.nav-links {
	padding: 0;
}

/* ----------------- [HAMBURGER MENU STYLING] ------------------ */

.burger {
	display: none;
	cursor: pointer;
	padding: 30px;
}

.burger div {
	width: 30px;
	height: 4px;
	background-color: #262626;
	margin: 6px;
	transition: all 0.3s ease;
}

.burger.vela div {
	background-color: #89E3FF;
}

/* ----------------- [NAV LINKS HAMBURGER ANIMATIONS] ------------------ */

@media screen and (max-width:768px){
	
	body {
		overflow-x: hidden;
	}

	.nav-links {
		position: absolute;
		height: 80vh;
		top: 20vh;
		background-color: #FFFDF9;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		transform: translateX(100%);
		transition: transform 0.2s ease-in;
	}

	.burger {
		display: block;
	}

}

.nav-active {
	transform: translateX(0%);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(150px);
	}

	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-135deg) translate(-9px, -6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(+135deg) translate(-8px, 6px);
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------

[FOOTER STYLING]

Social Media Icons:
- Flex + justify-content (center) to group and automatically center all elements
- Margins around the links to add space between them

-------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.bar {
	background-color: #262626;
	height: 60px;
	width: 100%;
	margin: 100px 0px 50px 0px;
}

.chat {
	font-family: 'EB Garamond', serif;
	font-size: 28px;
	font-weight: 700;
	text-align: center;
	margin: 30px;
}

.message {
	display: flex;
	justify-content: center;
	margin: 30px;
}

.message a {
	color: #FFFDF9;
	text-decoration: none;
}

.social {
	display: flex;
	justify-content: center;
}

.social > a {
	margin: 15px;
}

.iconhover {
	transition: 0.4s;
}

.iconhover:hover {
	transition: 0.4s;
	opacity: 0.8;
}

.copyright {
	font-size: 16px;
	margin: 0px 15px 15px 15px; /* Top, Right, Bottom, Left */
}

#btnScrollToTop {
	position: fixed;
	right: 50px;
	bottom: 50px;

	width: 90px;
	height: 90px;

	border: none;
	background: none;
	outline: none;

	cursor: pointer;

	display: none;
}

#btnScrollToTop:hover {
	opacity: 0.8;
	transition: 0.4s;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------

[ABOUT PAGE STYLING]

-------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.about {
	display: block;
	width: 80%;
	margin: 50px auto;
}

.about-bio > h1 {
	font-size: 2em;
}

.quote {
	font-size: 1.5em;
	color: #A0A0A0;
}

.about-skills > h2 {
	color: #A0A0A0;
}

@media only screen and (min-width: 1024px) {

	.about {
		display: flex;
		width: 90%;
		margin: 100px auto 0px auto;
		justify-content: space-between;
	}

	.about-bio > h1 {
	font-size: 2.75em;
	}

	.about-image {
		width: 20%;
	}

	.about-bio {
		width: 55%;
	}

	.about-skills {
		width: 15%;
	}

}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------

[PROJECT-OVERVIEW STYLING]

- Media query to activate flexbox only when viewport width > 900px (56.25em), otherwise default to block display

-------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 768px) {

	.layout-overview {
		display: block;
		width: 70%;
		margin: 100px auto;
	}

	.accent-overview {
		background-color: #24313D;
		height: auto;
		color: #FFFDF9;
		padding: 15px;
	}

	.role > h4 {
		font-family: 'EB Garamond', serif;
		font-weight: 700;
		font-size: 22px;
		line-height: 0;
	}

	.date {
		font-family: 'EB Garamond', serif;
		font-weight: 400;
		font-style: italic;
		font-size: 18px;
	}

	.process {
		display: block;
		width: 70%;
		margin: 0px auto 120px auto;
	}

}

@media only screen and (min-width: 768px) {
	.project {
			display: flex;
			width: 60%;
			margin: 100px auto 0px auto;
	}

	.overview {
		flex: 2;
		padding-right: 80px;
	}

	.role {
		flex: 0 0 250px;
	}

	.role > h4 {
		font-family: 'EB Garamond', serif;
		font-weight: 700;
		font-size: 22px;
		line-height: 0;
	}

	.date {
		font-family: 'EB Garamond', serif;
		font-weight: 400;
		font-style: italic;
		font-size: 18px;
	}

	.process {
		display: block;
		width: 60%;
		margin: 0px auto 120px auto;
	}

	.accent-overview {
		background-color: #24313D;
		height: auto;
		color: #FFFDF9;
		padding: 5px 0px;
	}

}



/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------

[PROJECT-BODY STYLING] (EXPERIMENTAL)

-------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/*

@media (min-width: 1700px) {

.layout {
	display: flex;
	width: 70%;
	margin: 120px auto 80px auto;
}

.layout-accent {
	display: flex;
	width: 70%;
	margin: 0px auto 80px auto;
}

.layout-full {
	display: flex;
	width: 100%;
	margin: 120px auto 80px auto;
}

.layout-clusters {
	display: flex;
	width: 100%;
	margin: 100px auto;
	background-color: #24313D;
	height: 21em;
	color: #FFFDF9;
}

.layout-header {
	flex: 0.35;
	text-align: right;
	padding-right:  100px;
}

.layout-header > h2 {
	margin-top: 0.4em;
}

.layout-body {
	flex: 0.65;
	padding: auto 20px;
}

.accent {
	background-color: #24313D;
	height: 8em;
	color: #FFFDF9;
}

.accent-top {
	background-color: #24313D;
	height: 3em;
	margin: 0;
}

}

*/

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------

[PROJECT-BODY STYLING]

-------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.vela-bg-gray {
	background-color: #EFEFEF;
	height: auto;
	padding: 20px 0px 60px 0px;
	margin: 80px 0px 80px 0px;
}

.accent {
	background-color: #24313D;
}

.layout {
	display: block;
	width: 70%;
	margin: 80px auto;
}

@media only screen and (min-width: 768px) {
	.layout {
	display: block;
	width: 60%;
	margin: 80px auto;
	}
}

@media only screen and (min-width: 1024px) {
	.layout {
	display: block;
	width: 50%;
	margin: 80px auto;
	}
}

@media only screen and (min-width: 1440px) {
	.layout {
	display: block;
	width: 40%;
	margin: 80px auto;
	}
}

