/*
Colors:
Background & Vela Alt Text (Yellowish-White): #FFFDF9;
Text & Accents (Dark Gray): #262626;
Unselected & Alt Accent (Light Gray): #A0A0A0;
Vela Accent (Dark Blue): #24313D;
Vela Alt Header 1 (Grayish-Blue): #758598;
Vela Alt Header 2 (Dark Grayish-Blue): #586B7C;
Vela Alt Background (Light Gray): #EFEFEF;

Fonts:
font-family: 'EB Garamond', serif; (400(i), 700(i))
font-family: 'Signika Negative', sans-serif; (700)
*/

body {
	background-color: #FFFDF9;
	font-family: 'EB Garamond', serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.6;
	color: #262626;
}

h1, h2, h3, h4 {
	font-family: 'Signika Negative', sans-serif;
	line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
	max-width: 100%;
	height: auto;

	/*
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	*/
}

a {
  color: #24313D;
  text-decoration: none; /* No underlining */
}

a:hover,
a:focus {
  color: #758598;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:visited { /* visited link */
  color: #586B7C;
}
a:active { /* selected link */
  color: #586B7C;
}

.button {
  display: inline-block;
  border:none;
  background-color: #262626;
  color: #FFFDF9;
  font-family: 'Signika Negative', sans-serif;
  font-weight: 700;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 50px;
  transition: 0.2s opacity;
}

.button:hover, active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  color: #FFFDF9;
  text-decoration: none;
}

.button:visited {
   color: #FFFDF9;
   text-decoration: none;
}